<a href="https://colab.research.google.com/github/Kranthi461/DataScienceProjects/blob/main/SachinVsKohli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

# to display all the rows coloumns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns',None)
pd.set_option('display.expand_frame_repr',False)
pd.set_option('max_colwidth',-1)

In [3]:
df=pd.read_csv("ODI_data.csv")

In [4]:
df.head(2)

  Innings Player Innings Runs Scored Innings Runs Scored Num Innings Minutes Batted  Innings Batted Flag  Innings Not Out Flag Innings Balls Faced Innings Boundary Fours Innings Boundary Sixes Innings Batting Strike Rate Innings Number Opposition         Ground Innings Date      Country  50's  100's Innings Runs Scored Buckets Innings Overs Bowled  Innings Bowled Flag Innings Maidens Bowled Innings Runs Conceded Innings Wickets Taken  4 Wickets  5 Wickets  10 Wickets Innings Wickets Taken Buckets Innings Economy Rate
0  E Lewis        65                  65                      128                    1.0                  0.0                   80                  8                      1                      81.25                       2              v India    Port of Spain  11-08-2019   West Indies  1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN
1  N Pooran       42                  42                      69                     1.0                  0.0                   52                  4                      1                      80.76                       2              v India    Port of Spain  11-08-2019   West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN

In [5]:
len(df)

171968

Batsmen is assesed by the following 6 parameters


1.   Total Runs Scored
2.   Runs per innings( Average)
3.   Strike Rate
4.   Number of Centuries
5.   Number of Half Centuries
6.   Team contribution ( total runs scored by player/ total runs scored by all players)

In [ ]:


# runs per innings
#SR
#100's
#50's
# team contribution

**Cleaning the Data** 


Clear all -, nan data

In [6]:
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', '-', nan, '40', '6', '4', '87', '54', '46',
       '30', '12', '69', '39', '14', '10', '9', '8', '7', '82', '52',
       '41', '15', '98', '43', '19', '111', '48', '36', '25', '67', '60',
       '84', '59', '55', '47', '85', '49', '45', '34', '29', '22', '74',
       '28', '77', '50', '32', '23', '35', '122', '100', '95', '103',
       '113', '53', '96', '27', '64', '58', '33', '31', '73', '56', '86',
       '62', '106', '24', '57', '104', '26', '66', '51', '118', '105',
       '101', '21', '79', '44', '102', '88', '80', '72', '97', '68', '89',
       '38', '83', '63', '148', '166', '90', '76', '37', '70', '124',
       '94', '140', '153', '107', '117', '121', '92', '78', '75', '114',
       '115', '130', '128', '151', '110', '138', '135', '109', '61',
       '179', '170', '112', '116', '91', '143', '93', '123', '145', '81',
       '150', '162', '108', '131', '133', '137', '146', '139', '125',
       '129', '157', '152', '144', '99', '127', '210', '147', '126',
       '181', '160', '180', '208', '176', '168', '141', '132', '119',
       '154', '185', '134', '156', '164', '173', '178', '171', '149',
       '237', '159', '161', '215', '264', '136', '169', '209', '174',
       '189', '183', '163', '219', '158', '175', '177', '200', '194',
       '142', '172', '186', '188', '167'], dtype=object)

In [7]:
df=df[df['Innings Runs Scored Num']!= '-']

In [8]:
df['Innings Runs Scored Num'].unique()

array(['65', '42', '18', '17', '13', '11', '5', '0', '120', '71', '20',
       '16', '3', '2', '1', nan, '40', '6', '4', '87', '54', '46', '30',
       '12', '69', '39', '14', '10', '9', '8', '7', '82', '52', '41',
       '15', '98', '43', '19', '111', '48', '36', '25', '67', '60', '84',
       '59', '55', '47', '85', '49', '45', '34', '29', '22', '74', '28',
       '77', '50', '32', '23', '35', '122', '100', '95', '103', '113',
       '53', '96', '27', '64', '58', '33', '31', '73', '56', '86', '62',
       '106', '24', '57', '104', '26', '66', '51', '118', '105', '101',
       '21', '79', '44', '102', '88', '80', '72', '97', '68', '89', '38',
       '83', '63', '148', '166', '90', '76', '37', '70', '124', '94',
       '140', '153', '107', '117', '121', '92', '78', '75', '114', '115',
       '130', '128', '151', '110', '138', '135', '109', '61', '179',
       '170', '112', '116', '91', '143', '93', '123', '145', '81', '150',
       '162', '108', '131', '133', '137', '146', '139', '125', '129',
       '157', '152', '144', '99', '127', '210', '147', '126', '181',
       '160', '180', '208', '176', '168', '141', '132', '119', '154',
       '185', '134', '156', '164', '173', '178', '171', '149', '237',
       '159', '161', '215', '264', '136', '169', '209', '174', '189',
       '183', '163', '219', '158', '175', '177', '200', '194', '142',
       '172', '186', '188', '167'], dtype=object)

In [9]:
df=df.dropna(subset= ['Innings Runs Scored Num'])

**Convertin innings date into datetime format**

To create a year column

In [10]:
df['Innings Date']=pd.to_datetime(df['Innings Date'])

In [11]:
df['year']=df['Innings Date'].dt.year

In [12]:
df.head()

  Innings Player Innings Runs Scored Innings Runs Scored Num Innings Minutes Batted  Innings Batted Flag  Innings Not Out Flag Innings Balls Faced Innings Boundary Fours Innings Boundary Sixes Innings Batting Strike Rate Innings Number Opposition         Ground Innings Date      Country  50's  100's Innings Runs Scored Buckets Innings Overs Bowled  Innings Bowled Flag Innings Maidens Bowled Innings Runs Conceded Innings Wickets Taken  4 Wickets  5 Wickets  10 Wickets Innings Wickets Taken Buckets Innings Economy Rate  year
0  E Lewis        65                  65                      128                    1.0                  0.0                   80                  8                      1                      81.25                       2              v India    Port of Spain 2019-11-08    West Indies  1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
1  N Pooran       42                  42                      69                     1.0                  0.0                   52                  4                      1                      80.76                       2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
2  SO Hetmyer     18                  18                      31                     1.0                  0.0                   20                  2                      0                      90                          2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
3  RL Chase       18                  18                      34                     1.0                  0.0                   23                  0                      0                      78.26                       2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
4  SS Cottrell    17                  17                      23                     1.0                  0.0                   18                  2                      1                      94.44                       2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019

In [13]:
df['Innings Runs Scored Num']=df['Innings Runs Scored Num'].astype('int')

In [14]:
df['Innings Balls Faced']=df['Innings Balls Faced'].astype('int')

In [15]:
df['Innings Not Out Flag']=df['Innings Not Out Flag'].astype('int')

**Partitioning the Data into Sachin's and Virat's**

Sachin timeline is 1994 to 2004

Virat's timeline is 2009-2019

In [16]:
sachin_df=df[(df.year>=1994) & (df.year<=2004)]

In [17]:
sachin_df.head()

      Innings Player Innings Runs Scored  Innings Runs Scored Num Innings Minutes Batted  Innings Batted Flag  Innings Not Out Flag  Innings Balls Faced Innings Boundary Fours Innings Boundary Sixes Innings Batting Strike Rate Innings Number    Opposition Ground Innings Date Country  50's  100's Innings Runs Scored Buckets Innings Overs Bowled  Innings Bowled Flag Innings Maidens Bowled Innings Runs Conceded Innings Wickets Taken  4 Wickets  5 Wickets  10 Wickets Innings Wickets Taken Buckets Innings Economy Rate  year
77610  V Sehwag       70                  70                       85                     1.0                  0                     52                   9                      2                      134.61                      1              v Bangladesh  Dhaka 2004-12-27    India   1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2004
77611  Yuvraj Singh   69                  69                       34                     1.0                  0                     32                   8                      3                      215.62                      1              v Bangladesh  Dhaka 2004-12-27    India   1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2004
77612  R Dravid       60                  60                       87                     1.0                  0                     68                   5                      0                      88.23                       1              v Bangladesh  Dhaka 2004-12-27    India   1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2004
77613  SC Ganguly     55                  55                       98                     1.0                  0                     80                   2                      2                      68.75                       1              v Bangladesh  Dhaka 2004-12-27    India   1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2004
77614  SR Tendulkar   47                  47                       60                     1.0                  0                     42                   9                      0                      111.9                       1              v Bangladesh  Dhaka 2004-12-27    India   0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2004

In [23]:
virat_df=df[(df.year>=2009) & (df.year<=2019)]

In [24]:
virat_df.head(5)

  Innings Player Innings Runs Scored  Innings Runs Scored Num Innings Minutes Batted  Innings Batted Flag  Innings Not Out Flag  Innings Balls Faced Innings Boundary Fours Innings Boundary Sixes Innings Batting Strike Rate Innings Number Opposition         Ground Innings Date      Country  50's  100's Innings Runs Scored Buckets Innings Overs Bowled  Innings Bowled Flag Innings Maidens Bowled Innings Runs Conceded Innings Wickets Taken  4 Wickets  5 Wickets  10 Wickets Innings Wickets Taken Buckets Innings Economy Rate  year
0  E Lewis        65                  65                       128                    1.0                  0                     80                   8                      1                      81.25                       2              v India    Port of Spain 2019-11-08    West Indies  1.0   0.0    50-99                       NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
1  N Pooran       42                  42                       69                     1.0                  0                     52                   4                      1                      80.76                       2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
2  SO Hetmyer     18                  18                       31                     1.0                  0                     20                   2                      0                      90                          2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
3  RL Chase       18                  18                       34                     1.0                  0                     23                   0                      0                      78.26                       2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019
4  SS Cottrell    17                  17                       23                     1.0                  0                     18                   2                      1                      94.44                       2              v India    Port of Spain 2019-11-08    West Indies  0.0   0.0    0-49                        NaN                 NaN                   NaN                    NaN                   NaN                  NaN        NaN        NaN          NaN                           NaN                  2019

In [18]:
CompareData={'Name':None,'Total Score':None,'RPI': None, 'Strike Rate':None,'100\'s': None, '50\'s':None, 'Team Contribution':None  }

In [19]:
print(CompareData)

{'Name': None, 'Total Score': None, 'RPI': None, 'Strike Rate': None, "100's": None, "50's": None, 'Team Contribution': None}

In [25]:
CompareData['Name']=['Sachin','Virat']

**Creating specific datasets for player**

In [29]:
sdf=sachin_df[sachin_df['Innings Player']=='SR Tendulkar']

In [30]:
kdf=virat_df[virat_df['Innings Player']== 'V Kohli']

**1. Calculating Total Score**

In [66]:
sachin_totalscore=sum(sdf['Innings Runs Scored Num'])
virat_totalscore=sum(kdf['Innings Runs Scored Num'])

**2. Calculating Average**

In [67]:
sachin_avg=sum(sdf['Innings Runs Scored Num'])/len(sdf)
virat_avg=sum(kdf['Innings Runs Scored Num'])/len(kdf)

**3. Calculating Strike Rate**

In [68]:
sachin_SR=100*sum(sdf['Innings Runs Scored Num'])/sum(sdf['Innings Balls Faced'])
virat_SR=100*sum(kdf['Innings Runs Scored Num'])/sum(kdf['Innings Balls Faced'])

**4. Calculating number of Centuries**

In [74]:
sachin_hundreads=int(sum(sdf["100's"]))
virat_hundreads=int(sum(kdf["100's"]))

**5. Calculating number of fifties**

In [75]:
sachin_fifties=int(sum(sdf["50's"]))
virat_fifties=int(sum(kdf["50's"]))

**6. Calculating Team Contribution percentage**

In [71]:
sachin_teamtotalscore=sum(sachin_df[sachin_df.Country =="India"]['Innings Runs Scored Num'])
sachin_teamcontri=sachin_totalscore/sachin_teamtotalscore

virat_teamtotalscore=sum(virat_df[virat_df.Country =="India"]['Innings Runs Scored Num'])
virat_teamcontri=virat_totalscore/virat_teamtotalscore

In [76]:
Name=['Sachin','Virat']
TotalScores=[sachin_totalscore,virat_totalscore]
Average=[sachin_avg,virat_avg]
strikerate=[sachin_SR,virat_SR]
hundreads=[sachin_hundreads,virat_hundreads]
fifties=[sachin_fifties,virat_fifties]
teamcontri=[sachin_teamcontri,virat_teamcontri]

# **Creating a dataframe for Comparision of the Data**

In [80]:
Compare_df=pd.DataFrame({'Name of Player': Name,
                        'Total Runs Scored':TotalScores,
                        'Average': Average,
                        'Strike Rate':strikerate,
                        'Number of 100\'s ': hundreads,
                        'Number of 50\'s ': fifties,
                        'Team Contribution': teamcontri})

In [81]:
Compare_df.head()

  Name of Player  Total Runs Scored    Average  Strike Rate  Number of 100's   Number of 50's   Team Contribution
0  Sachin         11818              43.608856  88.213779    37                57               0.169519
1  Virat          11247              50.209821  93.561268    42                53               0.176100